In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("crime_data.csv")

In [3]:
data.head(10)

,Unnamed: 0,dr_no,date_reported,date_occured,time_occured,area,area_name,report_dist_no,part,crime_code,...,status,status_desc,crime_code_1,crime_code_2,crime_code_3,crime_code_4,location,cross_street,latitude,longitude
0,0,211507896,2021-04-11,2020-11-07,08:45:00,15,N Hollywood,1502,2,354,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,1,201516622,2020-10-21,2020-10-18,18:45:00,15,N Hollywood,1521,1,230,...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,2,240913563,2024-12-10,2020-10-30,12:40:00,9,Van Nuys,933,2,354,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,3,210704711,2020-12-24,2020-12-24,13:10:00,7,Wilshire,782,1,331,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,4,201418201,2020-10-03,2020-09-29,18:30:00,14,Pacific,1454,1,420,...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350
5,5,240412063,2024-12-11,2020-11-11,12:10:00,4,Hollenbeck,429,2,354,...,IC,Invest Cont,354.0,NaN,NaN,NaN,5300 CRONUS ST,NaN,34.0830,-118.1678
6,6,240317069,2024-12-16,2020-04-16,13:50:00,3,Southwest,396,2,354,...,IC,Invest Cont,354.0,NaN,NaN,NaN,900 W 40TH PL,NaN,34.0100,-118.2900
7,7,201115217,2020-10-29,2020-07-07,14:00:00,11,Northeast,1133,2,812,...,AO,Adult Other,812.0,860.0,NaN,NaN,3000 ACRESITE ST,NaN,34.1107,-118.2589
8,8,241708596,2024-04-20,2020-03-02,12:00:00,17,Devonshire,1729,2,354,...,IC,Invest Cont,354.0,NaN,NaN,NaN,17700 SIMONDS ST,NaN,34.2763,-118.5210
9,9,242113813,2024-12-18,2020-09-01,09:00:00,21,Topanga,2196,2,354,...,IC,Invest Cont,354.0,NaN,NaN,NaN,20900 MARMORA ST,NaN,34.1493,-118.5886